<div class="content-wrapper">
  <div class="card-columns">
    <ng-container *ngIf="contentInput.list.length == 0 && !contentInput.noDataFound">
      <div class="card loading-wrapper h-100" *ngFor="let i of pleaseWaitLoader">
        <div class="img-loading loading mb-2"></div>
        <div class="head-loading mb-3 loading"></div>
        <div class="body-loading px-0 py-2 loading mb-2"></div>
        <div class="body-loading px-0 py-2 loading"></div>
      </div>
    </ng-container>
    <div class="card h-100" *ngFor="let item of contentInput.list">
      <div class="mission-img">
        <img class="card-img-top" [src]="item.image" alt="Card image cap">
      </div>
      <div class="card-body px-0 py-2">
        <div class="head mb-2">{{item.mission_name}} #{{item.flight_number}}</div>
        <ng-container>
          <div class="sub-head">Mission Ids: <span class="values" *ngIf="item.mission_id.length==0">--</span></div>
          <ul class="values mb-0" *ngIf="item.mission_id.length">
            <li *ngFor="let id of item.mission_id">{{id}}</li>
          </ul>
        </ng-container>
        <div class="sub-head my-1">Launch Year: <span class="values">{{item.launch_year}}</span></div>
        <div class="d-flex mb-1">
          <span class="sub-head mr-1">Successful Launch:</span>
          <span class="values">{{item.launch_success!=undefined? item.launch_success: '--'}}</span>
        </div>
        <div class="d-flex">
          <span class="sub-head mr-1">Successful Landing:</span>
          <span class="values">{{item.land_success!=undefined? item.land_success:'--'}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="no-data" *ngIf="contentInput.list.length == 0 && contentInput.noDataFound">No Data Found</div>
</div>